{% extends "index.html" %}
{% load static %}

{% block title %}    
<title>card decoration</title>
    <link media="all" rel="stylesheet" href="{% static 'challenges.css' %}" type="text/css" />
{% endblock %}
{% block content %}    
<div class="card-container">
        <div class="card">
            <img class="card-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube" height="200px" width="320px">
            <div class="card-content">
                <h3>Card 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis cupiditate cum nesciunt quos aspernatur saepe earum. Culpa sint eos animi ipsa, in expedita esse nobis quam voluptas voluptatum veniam.</p>
                <br>
                <a href="" class="btn">Read More</a>
            </div>
        </div>

        <div class="card">
            <img  class="card-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube" height="200px" width="320px">
            <div class="card-content">
                <h3>Card 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis cupiditate cum nesciunt quos aspernatur saepe earum. Culpa sint eos animi ipsa, in expedita esse nobis quam voluptas voluptatum veniam.</p>
                <br>
                <a href="" class="btn">Read More</a>
            </div>
        </div>

        <div class="card">
            <img class="card-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube" height="200px" width="320px">
            <div class="card-content">
                <h3>Card 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis cupiditate cum nesciunt quos aspernatur saepe earum. Culpa sint eos animi ipsa, in expedita esse nobis quam voluptas voluptatum veniam.</p>
                <br>
                <a href="" class="btn">Read More</a>
            </div>
        </div>
    </div>
    <div class="card-container">
      <div class="card">
          <img class="card-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube" height="200px" width="320px">
          <div class="card-content">
              <h3>Card 1</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis cupiditate cum nesciunt quos aspernatur saepe earum. Culpa sint eos animi ipsa, in expedita esse nobis quam voluptas voluptatum veniam.</p>
              <br>
              <a href="" class="btn">Read More</a>
          </div>
      </div>

      <div class="card">
          <img class="card-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube" height="200px" width="320px">
          <div class="card-content">
              <h3>Card 2</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis cupiditate cum nesciunt quos aspernatur saepe earum. Culpa sint eos animi ipsa, in expedita esse nobis quam voluptas voluptatum veniam.</p>
              <br>
              <a href="" class="btn">Read More</a>
          </div>
      </div>

      <div class="card">
          <img class="card-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube" height="200px" width="320px">
          <div class="card-content">
              <h3>Card 3</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis cupiditate cum nesciunt quos aspernatur saepe earum. Culpa sint eos animi ipsa, in expedita esse nobis quam voluptas voluptatum veniam.</p>
              <br>
              <a href="" class="btn">Read More</a>
          </div>
      </div>
  </div>
  {% endblock %}
