{% extends "index.html" %}
{% load static %}

{% block title %}    
<title>Challenges</title>
    <link media="all" rel="stylesheet" href="{% static 'css/challenges.css' %}" type="text/css" />
{% endblock %}
{% block content %}    
<div class="allcards">
    <div class="container ">
      
      <div class="card">
        <a href="{% url "allProblems" 'Easy' %}">
        
        <div class="box">
        
          <div class="content">
            <!-- <h2>01</h2> -->
            <h3>Easy</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p> -->
            <!-- <a href="#">Read More</a> -->
          </div>
        </div>
      </div>
    
      <div class="card">
        <a href="{% url "allProblems" 'Medium' %}">
        
        <div class="box">
          <div class="content">
            <!-- <h2>02</h2> -->
            <h3>Medium</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p> -->
            <!-- <a href="#">Read More</a> -->
          </div>
        </div>
      </div>
    
      <div class="card">
        <a href="{% url "allProblems" 'Hard' %}">
        
        <div class="box">
          <div class="content">
            <!-- <h2>03</h2> -->
            <h3>Hard</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p> -->
            <!-- <a href="#">Read More</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>  
{% endblock %}
