{% extends "index.html" %}
{% load static %}
{% block title %}    
   <title>Logic Loop</title> 
    <link media="all" rel="stylesheet" href="{% static 'css/custom room.css' %}" type="text/css" />
{% endblock %}
{% block content %}    


<div class="row">
  <div class="col-lg-6 ">

  <!-- BUTTON SECTION -->

    <div class="container button-1">

      <a href="#" class="button">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">CREATE ROOM</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
      </a>
    
    </div>
  </div>


<div class="col-lg-6 ">


<!-- code input area design -->

    <div class="code-area join-area">
      <form class="otc" name="one-time-code" action="#">
        <fieldset>
          <legend>Room Code</legend><br>
          <label for="otc-1">Number 1</label>
          <label for="otc-2">Number 2</label>
          <label for="otc-3">Number 3</label>
          <label for="otc-4">Number 4</label>
          <label for="otc-5">Number 5</label>
          <label for="otc-6">Number 6</label>
      
          <div>
          <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" autocomplete="one-time-code" id="otc-1" required>
      
          <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-2" required>
          <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-3" required>
          <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-4" required>
          <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-5" required>
          <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-6" required>
          </div>
        </fieldset>
      </form>
    </div>
    
    
    <!-- BUTTON SECTION -->
    
      <div class="container button-2">
    
        <a href="#" class="button">
          <div class="button__line"></div>
          <div class="button__line"></div>
          <span class="button__text">JOIN ROOM</span>
          <div class="button__drow1"></div>
          <div class="button__drow2"></div>
        </a>
      
      </div>
    
  </div>
</div>

<script src="{% static "js\custom room.js" %}"></script>
{% endblock %}
