{% extends "index.html" %}
{% load static %}
{% block title %}    
  <title>Logic Loop</title> 
    <link media="all" rel="stylesheet" href="{% static 'css/problems.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3 problem-text">
    <h4 class="">{{problem.title}} </h4>
    {{problem.statement|safe}}
    <br>
    <br>
    {% for testcase in testcases %}
        <p><strong >Example&nbsp;&nbsp;{{ forloop.counter }}&nbsp;&nbsp;:</strong></p>
        <pre><strong>Input:</strong>  {{testcase.input_data}}<br><strong>Output:</strong>  {{testcase.expected_ouput}}<br></pre>
    {% endfor %}       
    </div>

    <div class="col-lg-9">
        <iframe
        frameBorder="0"
        height="500px"  
        src="https://onecompiler.com/embed/?codeChangeEvent=true&&hideNew=true&&hideNewFileOption=true&&hideTitle=true&&hideNewFileOption=true&&availableLanguages=python,java,cpp"     
        width="100%"
        ></iframe>
        <div class="subBtn">
            <form id="codeForm" method="post">
                {% csrf_token %}
                <input type="hidden" name="code" id="codeInput">
                <input type="hidden" name="lang" id="languageInput">
                <button id="submitBtn" class="submitBtn">SUBMIT</button>
            </form>
        </div>
        <div id="result"></div>
    </div>
  </div>
    <script src="{% static "js\problem.js" %}"></script>>
{% endblock %}


